.bg-gray{
    background: gray;
}
.bg-white{
    background: white;
}
.text-align-center{
    text-align: center;
}
.openSans-family{
    font-family: 'Open Sans', sans-serif;
}

/*
    introduction
*/

main{
    padding: 20px;
}

.intro{
    width: 30%;
    padding: 20px;
    margin: auto;
}

.intro figure img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.intro a {
    background: red;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
    border-bottom: 5px solid firebrick;
    transition: all 0.1s;
}



.intro a:active{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

.intro h1{
    color: red;
    font-size: 1.5rem;
}
.intro p{
    text-align: justify;
}


/*
    social
*/

.social{
    width: 30%;
    min-height: 100px;
    margin: auto ;
    margin-top: 20px;
    padding: 20px;
}
.social ul{
    padding: 0;
    /*margin: 0;*/
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;



}


.social ul li a {
    text-decoration: none;
    color: gray;

}


.social ul li:hover a i  {
    transform: scale(2);
}


.social ul li a  {
    position: relative;
    top: 40px;
}

.social ul li a i  {
    position: absolute;
    bottom:20px;
    left: 20px;
    transition: all  1s ease-in ;

}

/*
articles
*/

.articles{
    width: 30%;
    margin: auto ;
    margin-top: 20px;
    padding: 20px;

}
.articles h1{
    color: gray;
}


.articles article figure img{
    height: 160px;
    width: 120px;
}

.articles article  {
    display: flex;
    margin-bottom: 20px;

}
.articles figure{
    margin: 0;
    margin-right: 10px;
}
.articles article h2,.articles article p{
    color: gray;
    font-size: 14px;

}
.articles article h2{
    text-align: center;
}
.articles article p{
    text-align: justify;
}


/*
    responsive
*/
@media screen and (max-width: 480px) {

}

@media screen and (min-width: 480px)
and (max-width: 768px){


    .intro,.articles{
        width: 100%;
    }
    .intro p {
        width: 90%;
    }
    .articles  article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 768px)
and (max-width: 1024px){
    /*
    intro
*/
    .intro{
        width: 50%;
    }
    .intro p {
        width: 100%;
    }
}



