.bg-gray{
    background: gray;
}
.bg-white{
    background: white;
}
.text-align-center{
    text-align: center;
}

/*
    introduction
*/
.intro{
    width: 30%;
    margin: auto ;
    padding: 20px;
}
.intro figure img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.intro a {
    background: red;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
}
.intro h1{
    color: red;
    font-size: 1.5rem;
}


/*
    social
*/

.social{
    width: 30%;
    height: 100px;
    margin: auto ;
    margin-top: 20px;
    padding: 20px;
}
.social ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
   


}
.social ul li {
   margin-left: 30px;


}

.social ul li a {
    text-decoration: none;
    color: gray;
}
.social ul li a  {
    position: relative;
    top: 40px;
}

.social ul li a i  {
    position: absolute;
    bottom:20px;
    left: 20px;

}

